<mat-card>
  <h1>Home</h1>
  <div class="container">
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
      repellendus consequatur, veritatis deleniti repudiandae soluta, illo,
      error quas itaque veniam ipsa? Reiciendis, impedit? Cupiditate harum nobis
      numquam veniam cumque. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Expedita dolores sunt maxime. Laborum fugit asperiores nulla vel
      cupiditate adipisci eos nihil expedita amet ratione. Facere quo unde
      praesentium eius quisquam. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Voluptatibus quas quaerat fugit praesentium ipsam. Sequi
      est maxime excepturi, ipsa impedit, quasi nostrum quis nobis fugiat
      temporibus eligendi sed exercitationem esse? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsam recusandae et quisquam possimus
      molestias. Debitis nihil velit qui eaque rerum assumenda magni minus
      suscipit dicta laudantium placeat, ad totam quas?
    </div>
    <div>
      <img src="https://picsum.photos/seed/picsum/536/354" alt="random-image" />
    </div></div
></mat-card>
